:root {
  --background-color: hsl(210deg, 30%, 8%);
  --header-text: #e10a78;
}

html {
  box-sizing: border-box;
  font-family: Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--background-color);
  color: white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: none;
}

h1 {
  /* To override Normalize.css h1 margin */
  margin: 0;
}

.about {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-content: center;
  text-align: center;
  row-gap: 10px;
}

button {
  color: white;
  border: 1px var(--header-text) solid;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: transparent;
}

button:hover {
  background-color: var(--header-text);
}

button:hover {
  background: linear-gradient();
}

[href="#projects"] {
  margin-top: 20px;
}

.goto-projects {
  border-radius: 10px;
  padding: 10px 25px;
}

.projects-header {
  margin-top: 15px;
  margin-bottom: 25px;
}

.projects-header-h1 {
  text-align: center;
  font-weight: normal;
  line-height: 0px;
  border-bottom: solid var(--header-text) 1px;
}

.projects-header-h1 span {
  background-color: var(--background-color);
  padding: 0px 10px;
}

.projects-list {
  display: grid;
  padding: 50px 10px 50px 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 500px));
  justify-content: space-evenly;
}

.project-info {
  text-align: left;
}

.project {
  border: 2px solid rgb(50, 50, 50);
  border-radius: 10px;
  background-color: rgb(25, 25, 25);
}

.project-info {
  padding: 20px;
}

.project-image {
  object-fit: cover;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.project-header {
  margin-bottom: 15px;
  display: flex;
  column-gap: 50px;
  row-gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-info p {
  font-size: 18px;
}

.live,
.github {
  padding: 5px 20px;
  border-radius: 5px;
  display: inline-block;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.footer {
  display: grid;
  justify-items: center;
  background: linear-gradient(180deg, rgb(40, 40, 40), var(--background-color));
  padding: 25px;
}

.github-logo {
  width: 50px;
}

.project-header-links {
  display: flex;
  gap: 20px;
}
